---

---

<div class="noise fixed w-[200%] h-[200%] -z-1000 opacity-10 -top-1/2 -left-1/2">

</div>

<style>
  .noise {
    background-image: url('/bg-noise.webp');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    animation: noise 20s infinite linear;
    /* filter: invert(1); */
  }

  @keyframes noise {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-5%, -5%); }
    20% { transform: translate(5%, 5%); }
    30% { transform: translate(-5%, 5%); }
    40% { transform: translate(5%, -5%); }
    50% { transform: translate(-5%, -5%); }
    60% { transform: translate(5%, 5%); }
    70% { transform: translate(-5%, 5%); }
    80% { transform: translate(5%, -5%); }
    90% { transform: translate(-5%, -5%); }
    100% { transform: translate(0, 0); }
  }
</style>