---
import AliasTable from '@/components/alias-table.astro'
import CommandsTable from '@/components/commands-table.astro'
---

<section class="flex flex-col lg:flex-row items-center justify-center min-h-screen lg:h-screen gap-10 lg:gap-20 px-6 lg:px-0 py-16 lg:py-0">
  <div class="max-w-7xl w-full mx-auto flex flex-col md:flex-row gap-30 items-start">
    <!-- Right side: Alias Table -->
    <div class="w-full md:w-1/2 flex items-center justify-center h-full">
        <AliasTable />
    </div>
    <!-- Left side: Commands Table -->
    <div class="w-full md:w-1/2 flex items-center justify-center h-full">
        <CommandsTable />
    </div>
  </div>
</section>
