---
import AliasTable from '@/components/alias-table.astro'
import FeatureList from '@/components/feature-list.astro'
---

<section class="flex flex-col lg:flex-row items-center justify-center min-h-screen lg:h-screen gap-10 lg:gap-20 px-6 lg:px-0 py-16 lg:py-0">
  <div class="max-w-7xl w-full mx-auto flex flex-col md:flex-row gap-30 items-start">
    <div class="w-full md:w-1/2 flex flex-col justify-center">
      <h2 class="text-3xl lg:text-4xl font-bold text-secondary mb-6">
        Streamline your Git workflow
      </h2>
      <p class="text-secondary/60 text-lg mb-10 leading-relaxed">
        This git workflow CLI keeps your daily commands intuitive, with interactive git add flows and aliases that reduce mistakes.
      </p>
      
      <div class="rounded-xl shadow-2xl mt-8">
        <FeatureList />
      </div>
    </div>

    <!-- Right side: Alias Table -->
    <div class="w-full md:w-1/2 flex items-center justify-center h-full">
        <AliasTable />
    </div>
  </div>
</section>
