---
import GithubSvg from '@/assets/github.svg?raw'
import LinkedinSvg from '@/assets/linkedin.svg?raw'
import InfoCard from '@/components/info-card.astro'
---

<footer class="w-full flex items-center justify-center py-20 px-6 lg:px-0 border-t border-secondary/10">
  <div class="max-w-7xl w-full mx-auto flex justify-center items-center gap-10">
    <InfoCard
      title="OPEN SOURCE"
      description="Glinter is open source and community driven. Feel free to contribute."
      links={[
        { type: 'svg', content: GithubSvg, href: 'https://github.com/jannael/glinter' },
        { type: 'text', content: 'GitHub', href: 'https://github.com/jannael/glinter' },
      ]}
      className="flex-2"
    />
    <InfoCard
      title="CREATOR"
      description="Built with the effort of JANNAEL. Focused on UX and terminal productivity."
      links={[
        { type: 'text', content: 'Jannael', href: 'https://github.com/jannael' },
        { type: 'svg', content: LinkedinSvg, href: 'www.linkedin.com/in/jannael-orlando-44604a349' },
        { type: 'svg', content: GithubSvg, href: 'https://github.com/jannael' },
      ]}
      className="flex-3"
    />
    <InfoCard
      title="WEB STYLE"
      description="Special thanks to Midudev and he's project autoskills.sh for the inspiration."
      links={[
        { type: 'text', content: 'autoskills.sh', href: 'https://github.com/midudev/autoskills.sh' },
      ]}
      className="flex-2"
    />
  </div>
</footer>
