---
import CopyButton from '@/components/copy-button.astro'
import TerminalAnimation from '@/components/terminal-animation.astro'
---

<section class="flex items-center justify-center h-screen gap-20">
  <article class="prose text-secondary w-1/2 flex flex-col gap-3 justify-center items-start h-full">
    <h1 class="text-secondary text-9xl mb-0">GLINTER</h1>
    <p class="text-3xl -mb-4 text-secondary/70">
      The best way to use Git!
    </p>
    <p class="text-lg mb-2 text-secondary/50">
      Wrapper of Git, improve your experience using git with streamlined commands and safer defaults.
    </p>
    <CopyButton />
  </article>

  <TerminalAnimation />
</section>
