---
import ChartSvg from '@/assets/chart.svg?raw'
import DownloadSvg from '@/assets/download.svg?raw'
import StarSvg from '@/assets/star.svg?raw'
import CopyButton from '@/components/copy-button.astro'
import HeroStats from '@/components/hero-stats.astro'
import TerminalAnimation from '@/components/terminal-animation.astro'
---

<section class="flex flex-col lg:flex-row items-center justify-center min-h-screen lg:h-screen gap-10 lg:gap-20 px-6 lg:px-0 py-16 lg:py-0 max-w-7xl mx-auto">
  <article class="prose text-secondary flex flex-col gap-3 justify-center items-center lg:items-start text-center lg:text-left lg:h-full flex-1">
    <div class="flex items-center gap-6">
      <img
        src="/logo-192-white.webp"
        alt="Glinter logo"
        class="size-8 sm:size-13 lg:size-19 object-contain"
        loading="eager"
        decoding="async"
      />
      <h1 class="text-secondary text-5xl sm:text-7xl lg:text-8xl mb-0">
        GLINTER
      </h1>
    </div>
    <p class="text-xl sm:text-2xl lg:text-3xl -mb-4 text-secondary/70">
      The best way to use Git.
    </p>
    <p class="text-base lg:text-lg mb-2 text-secondary/50">
      Glinter reduces errors while using Git by providing interactive commands and safer defaults.
    </p>
    <div class="flex items-center gap-6 flex-col lg:flex-row lg:items-end">
      <CopyButton />
      <HeroStats server:defer > 
        <ul class="flex items-center gap-3 w-fit h-16 px-4 mt-0 lg:mb-0" slot="fallback">
          <li class="flex min-w-0 items-end gap-2">
            <span class="h-6 w-6 text-secondary/70 shrink-0" set:html={StarSvg} />
            <span class="text-sm text-secondary/80">100</span>
          </li>
          <li class="flex min-w-0 items-end gap-2">
            <span class="h-6 w-6 text-secondary/70 shrink-0" set:html={ChartSvg} />
            <span class="text-sm text-secondary/80">100</span>
          </li>
          <li class="flex min-w-0 items-end gap-2">
            <span class="h-6 w-6 text-secondary/70 shrink-0" set:html={DownloadSvg} />
            <span class="text-sm text-secondary/80">100</span>
          </li>
        </ul>
      </HeroStats>
    </div>
  </article>

  <TerminalAnimation />
</section>
